
@import 'global-utils.scss';

.container {
  margin: 0 auto;
  max-width: rem(1920);
  padding-left: rem(15);
  padding-right: rem(15);

  @include min-desktop {
    padding-left: rem(65);
    padding-right: rem(65);
  }
}

.visually-hidden {
  @include visually-hidden;
}

.btn {
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  font: inherit;
  transition: box-shadow 0.3s;
  padding: 0;

  &:focus,
  &:hover {
    outline: none;
  }
}

.input {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font: inherit;
  &:focus,
  &:hover {
    outline: none;
  }
}

a {
  $active-color: $--main-violet;

  text-decoration: none;
  &.active-link {
    color: $active-color;

    &.active-link {
      &:hover,
      &:active {
        color: $active-color;
      }
    }
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

